body {
	background-color: grey;
}

.container {
	background-color: white;
	background-clip: content-box;
}

.row div {
	background-clip: content-box;
	min-height: 20px;
	margin-bottom: 10px;
}

h4 {
	padding: 0 5px;
}

h3 {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	padding: 10px;
}

img.center {
	display: block;
	margin: 10px auto;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
	float: right;
}

.inner-padding {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	padding: 10px;
}

.background-div {
	background-color: purple;
}

#topbar {
	background-color: black;
	height: 20px;
}

.nav-bar li {
	background-color: rgba(0,0,0,0.3);
	display: inline-block;
	list-style: none;
	padding: 10px 10px;
}

#featured div {
	background-color: red;
	height:150px;
	text-align: center;
}

#featured img {
	margin-top: 20px;
}

#approved {
	background-color: lightgreen;
}

#promo {
	background-color: blue;
	color: white;
}

.background-title {
	background-color: yellow;
}

#footer {
	padding-top:10px;
	background-color: grey;
	height: 200px;
}

#footer ul li {
	list-style: none;
}

#copyright {
	background-color: black;
	color: white;
	text-align: right;
}
